@page
@model RazorPagesMiniProject.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>About</h1>
<br />
<p><strong>NAME: </strong>Josh Hortt</p>
<p><strong>PROFESSION: </strong>Web Developer</p>
<p><strong>JOB STATUS: </strong>Freelancer</p>
<p><strong>PHONE: </strong>911815877</p>
<p><strong>COUNTRY: </strong>Portugal</p>
<p><a href="https://github.com/Joshhortt">VISIT MY PORTFOLIO</a></p>


